{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="welcome-message">
    <h1>Ajouter un Atelier</h1>
</section>    
<form method="post">
    {% csrf_token %}
    <div class="form-group" style="text-align: center;">
        <img src="{% static 'images/workshop.png' %}" 
            alt="Alert Image" 
            style="width: 80px; height: 80px; object-fit: cover; margin: 0 auto;" />
            <h3>Ajouter Atelier</h3>
            </div>
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">Ajouter l'Atelier</button>
</form>
<br>

<a class="btn btn-secondary" href="{% url 'my_ateliers' %}" style="display: inline-block;">
    <i class="fas fa-arrow-left"></i>
<a>
{% endblock %}
